@import "tailwindcss";

@theme {
  --font-sans: "Calibri", "Carlito", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Calibri", "Carlito", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #111827;
}
